## Build a Classification Model to predict Response for marketing Response

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from  sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
df = pd.read_csv(r'https://raw.githubusercontent.com/Morris-mk/IFood_Marketing-data-Analysis-segmentation-and-classification/refs/heads/main/data/Cleaned_dataframe.csv')
df.head()

,ID,Customer_age,Age_group,Income,Income_group,Customer_days,Education,Marital_Status,Kidhome,Teenhome,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Complain,Response
0,5524,63,Senior,58138.0,middle_income,4721,Graduation,Single,0,0,...,10,4,7,0,0,0,0,0,0,1
1,2174,66,Senior,46344.0,middle_income,4171,Graduation,Single,1,1,...,1,2,5,0,0,0,0,0,0,0
2,4141,55,Pre-Senior,71613.0,middle_income,4370,Graduation,Together,0,0,...,2,10,4,0,0,0,0,0,0,0
3,6182,36,Adult,26646.0,low_income,4197,Graduation,Together,1,0,...,0,4,6,0,0,0,0,0,0,0
4,5324,39,Adult,58293.0,middle_income,4219,PhD,Married,1,0,...,3,6,5,0,0,0,0,0,0,0

In [10]:
# encode categorical features 


# use ordinal encoder for Education 
dfz = df.copy()
dfz.Education = OneHotEncoder( drop='First')
dfz.head()

,ID,Customer_age,Age_group,Income,Income_group,Customer_days,Education,Marital_Status,Kidhome,Teenhome,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Complain,Response
0,5524,63,Senior,58138.0,middle_income,4721,OneHotEncoder(drop='First'),Single,0,0,...,10,4,7,0,0,0,0,0,0,1
1,2174,66,Senior,46344.0,middle_income,4171,OneHotEncoder(drop='First'),Single,1,1,...,1,2,5,0,0,0,0,0,0,0
2,4141,55,Pre-Senior,71613.0,middle_income,4370,OneHotEncoder(drop='First'),Together,0,0,...,2,10,4,0,0,0,0,0,0,0
3,6182,36,Adult,26646.0,low_income,4197,OneHotEncoder(drop='First'),Together,1,0,...,0,4,6,0,0,0,0,0,0,0
4,5324,39,Adult,58293.0,middle_income,4219,OneHotEncoder(drop='First'),Married,1,0,...,3,6,5,0,0,0,0,0,0,0

In [ ]:
# split the data into train and test splits
X = df.drop(['ID', 'Response'], axis=1)
y = df.Response

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape

(1783, 25)

In [4]:
# initialize the model
model = RandomForestClassifier()

# fit the model
model.fit(X_train, y_train)

# produce predsictions the models perfomance
y_preds = model.predict(X_test)

# evaluate the models perfomance
class_report = classification_report(y_test, y_preds)
class_report

ValueError: could not convert string to float: 'Graduation'