# Customer Segmentation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans

In [9]:
# load dataset
df = pd.read_csv(r'https://raw.githubusercontent.com/Morris-mk/IFood_Marketing-data-Analysis-segmentation-and-classification/refs/heads/main/data/Cleaned_dataframe.csv')
df.head()

,ID,Customer_age,Age_group,Income,Income_group,Customer_days,Education,Marital_Status,Kidhome,Teenhome,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Complain,Response
0,5524,63,Senior,58138.0,middle_income,4721,Graduation,Single,0,0,...,10,4,7,0,0,0,0,0,0,1
1,2174,66,Senior,46344.0,middle_income,4171,Graduation,Single,1,1,...,1,2,5,0,0,0,0,0,0,0
2,4141,55,Pre-Senior,71613.0,middle_income,4370,Graduation,Together,0,0,...,2,10,4,0,0,0,0,0,0,0
3,6182,36,Adult,26646.0,low_income,4197,Graduation,Together,1,0,...,0,4,6,0,0,0,0,0,0,0
4,5324,39,Adult,58293.0,middle_income,4219,PhD,Married,1,0,...,3,6,5,0,0,0,0,0,0,0

In [10]:
df = df.drop(columns=['ID', 'Age_group', 'Income_group'])
df.head()

,Customer_age,Income,Customer_days,Education,Marital_Status,Kidhome,Teenhome,Recency,MntWines,MntFruits,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp1,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Complain,Response
0,63,58138.0,4721,Graduation,Single,0,0,58,635,88,...,10,4,7,0,0,0,0,0,0,1
1,66,46344.0,4171,Graduation,Single,1,1,38,11,1,...,1,2,5,0,0,0,0,0,0,0
2,55,71613.0,4370,Graduation,Together,0,0,26,426,49,...,2,10,4,0,0,0,0,0,0,0
3,36,26646.0,4197,Graduation,Together,1,0,26,11,4,...,0,4,6,0,0,0,0,0,0,0
4,39,58293.0,4219,PhD,Married,1,0,94,173,43,...,3,6,5,0,0,0,0,0,0,0

In [ ]:
# encode categorical variables
df = pd.get_dummies(data=df, columns=['Marital_Status'], dtype='int', drop_first=True)
df.head()

,Customer_age,Income,Customer_days,Education,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp2,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Complain,Response,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow
0,63,58138.0,4721,Graduation,0,0,58,635,88,546,...,0,0,0,0,0,1,0,1,0,0
1,66,46344.0,4171,Graduation,1,1,38,11,1,6,...,0,0,0,0,0,0,0,1,0,0
2,55,71613.0,4370,Graduation,0,0,26,426,49,127,...,0,0,0,0,0,0,0,0,1,0
3,36,26646.0,4197,Graduation,1,0,26,11,4,20,...,0,0,0,0,0,0,0,0,1,0
4,39,58293.0,4219,PhD,1,0,94,173,43,118,...,0,0,0,0,0,0,1,0,0,0

In [18]:
# encode the categorical ordinal column Education
from sklearn.preprocessing import OrdinalEncoder

#define categories and initialize class
categories = ['PhD', 'Master','Graduation','Basic', '2n Cycle']
oe_encoder = OrdinalEncoder(categories=[categories])

# encode
df['Education_encoded'] = oe_encoder.fit_transform(df[['Education']])

# drop the original education column
df = df.drop(columns='Education')

In [19]:
df.head()

,Customer_age,Income,Customer_days,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,Complain,Response,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow,Education_encoded
0,63,58138.0,4721,0,0,58,635,88,546,172,...,0,0,0,0,1,0,1,0,0,2.0
1,66,46344.0,4171,1,1,38,11,1,6,2,...,0,0,0,0,0,0,1,0,0,2.0
2,55,71613.0,4370,0,0,26,426,49,127,111,...,0,0,0,0,0,0,0,1,0,2.0
3,36,26646.0,4197,1,0,26,11,4,20,10,...,0,0,0,0,0,0,0,1,0,2.0
4,39,58293.0,4219,1,0,94,173,43,118,46,...,0,0,0,0,0,1,0,0,0,0.0

## Customer segmentation using Kmeans Clustering

In [20]:
help(KMeans)

Help on class KMeans in module sklearn.cluster._kmeans:

class KMeans(_BaseKMeans)
 |  KMeans(
 |      n_clusters=8,
 |      *,
 |      init='k-means++',
 |      n_init='auto',
 |      max_iter=300,
 |      tol=0.0001,
 |      verbose=0,
 |      random_state=None,
 |      copy_x=True,
 |      algorithm='lloyd'
 |  )
 |
 |  K-Means clustering.
 |
 |  Read more in the :ref:`User Guide <k_means>`.
 |
 |  Parameters
 |  ----------
 |
 |  n_clusters : int, default=8
 |      The number of clusters to form as well as the number of
 |      centroids to generate.
 |
 |      For an example of how to choose an optimal value for `n_clusters` refer to
 |      :ref:`sphx_glr_auto_examples_cluster_plot_kmeans_silhouette_analysis.py`.
 |
 |  init : {'k-means++', 'random'}, callable or array-like of shape             (n_clusters, n_features), default='k-means++'
 |      Method for initialization:
 |
 |      * 'k-means++' : selects initial cluster centroids using sampling             based on an empirical probability distribution of the points'             contribution to the overall inertia. This technique speeds up             convergence. The algorithm implemented is "greedy k-means++". It             differs from the vanilla k-means++ by making several trials at             each sampling step and choosing the best centroid among them.
 |
 |      * 'random': choose `n_clusters` observations (rows) at random from         data for the initial centroids.
 |
 |      * If an array is passed, it should be of shape (n_clusters, n_features)        and gives the initial centers.
 |
 |      * If a callable is passed, it should take arguments X, n_clusters and a        random state and return an initialization.
 |
 |      For an example of how to use the different `init` strategy, see the example
 |      entitled :ref:`sphx_glr_auto_examples_cluster_plot_kmeans_digits.py`.
 |
 |  n_init : 'auto' or int, default='auto'
 |      Number of times the k-means algorithm is run with different centroid
 |      seeds. The final results is the best output of `n_init` consecutive runs
 |      in terms of inertia. Several runs are recommended for sparse
 |      high-dimensional problems (see :ref:`kmeans_sparse_high_dim`).
 |
 |      When `n_init='auto'`, the number of runs depends on the value of init:
 |      10 if using `init='random'` or `init` is a callable;
 |      1 if using `init='k-means++'` or `init` is an array-like.
 |
 |      .. versionadded:: 1.2
 |         Added 'auto' option for `n_init`.
 |
 |      .. versionchanged:: 1.4
 |         Default value for `n_init` changed to `'auto'`.
 |
 |  max_iter : int, default=300
 |      Maximum number of iterations of the k-means algorithm for a
 |      single run.
 |
 |  tol : float, default=1e-4
 |      Relative tolerance with regards to Frobenius norm of the difference
 |      in the cluster centers of two consecutive iterations to declare
 |      convergence.
 |
 |  verbose : int, default=0
 |      Verbosity mode.
 |
 |  random_state : int, RandomState instance or None, default=None
 |      Determines random number generation for centroid initialization. Use
 |      an int to make the randomness deterministic.
 |      See :term:`Glossary <random_state>`.
 |
 |  copy_x : bool, default=True
 |      When pre-computing distances it is more numerically accurate to center
 |      the data first. If copy_x is True (default), then the original data is
 |      not modified. If False, the original data is modified, and put back
 |      before the function returns, but small numerical differences may be
 |      introduced by subtracting and then adding the data mean. Note that if
 |      the original data is not C-contiguous, a copy will be made even if
 |      copy_x is False. If the original data is sparse, but not in CSR format,
 |      a copy will be made even if copy_x is False.
 |
 |  algorithm : {"lloyd", "elkan"}, default="lloyd"
 |      K-means algorithm to use. The classical EM-style algorithm is `"lloyd"`.
 |      The `"elkan"` variation can be more efficient on some datasets with
 |      well-defined clusters, by using the triangle inequality. However it's
 |      more memory intensive due to the allocation of an extra array of shape
 |      `(n_samples, n_clusters)`.
 |
 |      .. versionchanged:: 0.18
 |          Added Elkan algorithm
 |
 |      .. versionchanged:: 1.1
 |          Renamed "full" to "lloyd", and deprecated "auto" and "full".
 |          Changed "auto" to use "lloyd" instead of "elkan".
 |
 |  Attributes
 |  ----------
 |  cluster_centers_ : ndarray of shape (n_clusters, n_features)
 |      Coordinates of cluster centers. If the algorithm stops before fully
 |      converging (see ``tol`` and ``max_iter``), these will not be
 |      consistent with ``labels_``.
 |
 |  labels_ : ndarray of shape (n_samples,)
 |      Labels of each point
 |
 |  inertia_ : float
 |      Sum of squared distances of samples to their closest cluster center,
 |      weighted by the sample weights if provided.
 |
 |  n_iter_ : int
 |      Number of iterations run.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  MiniBatchKMeans : Alternative online implementation that does incremental
 |      updates of the centers positions using mini-batches.
 |      For large scale learning (say n_samples > 10k) MiniBatchKMeans is
 |      probably much faster than the default batch implementation.
 |
 |  Notes
 |  -----
 |  The k-means problem is solved using either Lloyd's or Elkan's algorithm.
 |
 |  The average complexity is given by O(k n T), where n is the number of
 |  samples and T is the number of iteration.
 |
 |  The worst case complexity is given by O(n^(k+2/p)) with
 |  n = n_samples, p = n_features.
 |  Refer to :doi:`"How slow is the k-means method?" D. Arthur and S. Vassilvitskii -
 |  SoCG2006.<10.1145/1137856.1137880>` for more details.
 |
 |  In practice, the k-means algorithm is very fast (one of the fastest
 |  clustering algorithms available), but it falls in local minima. That's why
 |  it can be useful to restart it several times.
 |
 |  If the algorithm stops before fully converging (because of ``tol`` or
 |  ``max_iter``), ``labels_`` and ``cluster_centers_`` will not be consistent,
 |  i.e. the ``cluster_centers_`` will not be the means of the points in each
 |  cluster. Also, the estimator will reassign ``labels_`` after the last
 |  iteration to make ``labels_`` consistent with ``predict`` on the training
 |  set.
 |
 |  Examples
 |  --------
 |
 |  >>> from sklearn.cluster import KMeans
 |  >>> import numpy as np
 |  >>> X = np.array([[1, 2], [1, 4], [1, 0],
 |  ...               [10, 2], [10, 4], [10, 0]])
 |  >>> kmeans = KMeans(n_clusters=2, random_state=0, n_init="auto").fit(X)
 |  >>> kmeans.labels_
 |  array([1, 1, 1, 0, 0, 0], dtype=int32)
 |  >>> kmeans.predict([[0, 0], [12, 3]])
 |  array([1, 0], dtype=int32)
 |  >>> kmeans.cluster_centers_
 |  array([[10.,  2.],
 |         [ 1.,  2.]])
 |
 |  For a more detailed example of K-Means using the iris dataset see
 |  :ref:`sphx_glr_auto_examples_cluster_plot_cluster_iris.py`.
 |
 |  For examples of common problems with K-Means and how to address them see
 |  :ref:`sphx_glr_auto_examples_cluster_plot_kmeans_assumptions.py`.
 |
 |  For an example of how to use K-Means to perform color quantization see
 |  :ref:`sphx_glr_auto_examples_cluster_plot_color_quantization.py`.
 |
 |  For a demonstration of how K-Means can be used to cluster text documents see
 |  :ref:`sphx_glr_auto_examples_text_plot_document_clustering.py`.
 |
 |  For a comparison between K-Means and MiniBatchKMeans refer to example
 |  :ref:`sphx_glr_auto_examples_cluster_plot_mini_batch_kmeans.py`.
 |
 |  Method resolution order:
 |      KMeans
 |      _BaseKMeans
 |      sklearn.base.ClassNamePrefixFeaturesOutMixin
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.ClusterMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._estimator_html_repr._HTMLDocumentationLinkMixin
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      abc.ABC
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(
 |      self,
 |      n_clusters=8,
 |      *,
 |      init='k-means++',
 |      n_init='auto',
 |      max_iter=300,
 |      tol=0.0001,
 |      verbose=0,
 |      random_state=None,
 |      copy_x=True,
 |      algorithm='lloyd'
 |  )
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None, sample_weight=None)
 |      Compute k-means clustering.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          Training instances to cluster. It must be noted that the data
 |          will be converted to C ordering, which will cause a memory
 |          copy if the given data is not C-contiguous.
 |          If a sparse matrix is passed, a copy will be made if it's not in
 |          CSR format.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          The weights for each observation in X. If None, all observations
 |          are assigned equal weight. `sample_weight` is not used during
 |          initialization if `init` is a callable or a user provided array.
 |
 |          .. versionadded:: 0.20
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted estimator.
 |
 |  set_fit_request(
 |      self: sklearn.cluster._kmeans.KMeans,
 |      *,
 |      sample_weight: Union[bool, NoneType, str] = '$UNCHANGED$'
 |  ) -> sklearn.cluster._kmeans.KMeans from sklearn.utils._metadata_requests.RequestMethod.__get__.<locals>
 |      Request metadata passed to the ``fit`` method.
 |
 |      Note that this method is only relevant if
 |      ``enable_metadata_routing=True`` (see :func:`sklearn.set_config`).
 |      Please see :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      The options for each parameter are:
 |
 |      - ``True``: metadata is requested, and passed to ``fit`` if provided. The request is ignored if metadata is not provided.
 |
 |      - ``False``: metadata is not requested and the meta-estimator will not pass it to ``fit``.
 |
 |      - ``None``: metadata is not requested, and the meta-estimator will raise an error if the user provides it.
 |
 |      - ``str``: metadata should be passed to the meta-estimator with this given alias instead of the original name.
 |
 |      The default (``sklearn.utils.metadata_routing.UNCHANGED``) retains the
 |      existing request. This allows you to change the request for some
 |      parameters and not others.
 |
 |      .. versionadded:: 1.3
 |
 |      .. note::
 |          This method is only relevant if this estimator is used as a
 |          sub-estimator of a meta-estimator, e.g. used inside a
 |          :class:`~sklearn.pipeline.Pipeline`. Otherwise it has no effect.
 |
 |      Parameters
 |      ----------
 |      sample_weight : str, True, False, or None,                     default=sklearn.utils.metadata_routing.UNCHANGED
 |          Metadata routing for ``sample_weight`` parameter in ``fit``.
 |
 |      Returns
 |      -------
 |      self : object
 |          The updated object.
 |
 |  set_score_request(
 |      self: sklearn.cluster._kmeans.KMeans,
 |      *,
 |      sample_weight: Union[bool, NoneType, str] = '$UNCHANGED$'
 |  ) -> sklearn.cluster._kmeans.KMeans from sklearn.utils._metadata_requests.RequestMethod.__get__.<locals>
 |      Request metadata passed to the ``score`` method.
 |
 |      Note that this method is only relevant if
 |      ``enable_metadata_routing=True`` (see :func:`sklearn.set_config`).
 |      Please see :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      The options for each parameter are:
 |
 |      - ``True``: metadata is requested, and passed to ``score`` if provided. The request is ignored if metadata is not provided.
 |
 |      - ``False``: metadata is not requested and the meta-estimator will not pass it to ``score``.
 |
 |      - ``None``: metadata is not requested, and the meta-estimator will raise an error if the user provides it.
 |
 |      - ``str``: metadata should be passed to the meta-estimator with this given alias instead of the original name.
 |
 |      The default (``sklearn.utils.metadata_routing.UNCHANGED``) retains the
 |      existing request. This allows you to change the request for some
 |      parameters and not others.
 |
 |      .. versionadded:: 1.3
 |
 |      .. note::
 |          This method is only relevant if this estimator is used as a
 |          sub-estimator of a meta-estimator, e.g. used inside a
 |          :class:`~sklearn.pipeline.Pipeline`. Otherwise it has no effect.
 |
 |      Parameters
 |      ----------
 |      sample_weight : str, True, False, or None,                     default=sklearn.utils.metadata_routing.UNCHANGED
 |          Metadata routing for ``sample_weight`` parameter in ``score``.
 |
 |      Returns
 |      -------
 |      self : object
 |          The updated object.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _BaseKMeans:
 |
 |  fit_predict(self, X, y=None, sample_weight=None)
 |      Compute cluster centers and predict cluster index for each sample.
 |
 |      Convenience method; equivalent to calling fit(X) followed by
 |      predict(X).
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          New data to transform.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          The weights for each observation in X. If None, all observations
 |          are assigned equal weight.
 |
 |      Returns
 |      -------
 |      labels : ndarray of shape (n_samples,)
 |          Index of the cluster each sample belongs to.
 |
 |  fit_transform(self, X, y=None, sample_weight=None)
 |      Compute clustering and transform X to cluster-distance space.
 |
 |      Equivalent to fit(X).transform(X), but more efficiently implemented.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          New data to transform.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          The weights for each observation in X. If None, all observations
 |          are assigned equal weight.
 |
 |      Returns
 |      -------
 |      X_new : ndarray of shape (n_samples, n_clusters)
 |          X transformed in the new space.
 |
 |  predict(self, X)
 |      Predict the closest cluster each sample in X belongs to.
 |
 |      In the vector quantization literature, `cluster_centers_` is called
 |      the code book and each value returned by `predict` is the index of
 |      the closest code in the code book.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          New data to predict.
 |
 |      Returns
 |      -------
 |      labels : ndarray of shape (n_samples,)
 |          Index of the cluster each sample belongs to.
 |
 |  score(self, X, y=None, sample_weight=None)
 |      Opposite of the value of X on the K-means objective.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          New data.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          The weights for each observation in X. If None, all observations
 |          are assigned equal weight.
 |
 |      Returns
 |      -------
 |      score : float
 |          Opposite of the value of X on the K-means objective.
 |
 |  transform(self, X)
 |      Transform X to a cluster-distance space.
 |
 |      In the new space, each dimension is the distance to the cluster
 |      centers. Note that even if X is sparse, the array returned by
 |      `transform` will typically be dense.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          New data to transform.
 |
 |      Returns
 |      -------
 |      X_new : ndarray of shape (n_samples, n_clusters)
 |          X transformed in the new space.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassNamePrefixFeaturesOutMixin:
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      The feature names out will prefixed by the lowercased class name. For
 |      example, if the transformer outputs 3 features, then the feature names
 |      out are: `["class_name0", "class_name1", "class_name2"]`.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Only used to validate feature names with the names seen in `fit`.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Transformed feature names.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.ClassNamePrefixFeaturesOutMixin:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas", "polars"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `"polars"`: Polars output
 |          - `None`: Transform configuration is unchanged
 |
 |          .. versionadded:: 1.4
 |              `"polars"` option was added.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs)
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |

In [ ]:
# finding the optimal k clusters
inertias = []

for k in range(2, 20):
    kmeans = KMeans(n_clusters=k, init='k-means++', random_state=42)
    kmeans.fit()
    inertias.append(kmeans.inertia_)

# plot the elbow plot